<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>XS QAQC Toolbox</Name><AddInID>{c2905bcf-20fe-479c-b771-80e5159a2e93}</AddInID><Description>Cross-Section QAQC Tools</Description><Version>0.1</Version><Image>Images\MainButton.png</Image><Author>Debabrata Ghorai</Author><Company>Untitled</Company><Date>08/29/2016</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="CrossSectionQAQCTools_addin.py" namespace="CrossSectionQAQCTools_addin"><ArcMap>
    <Commands>
        <Button caption="XSCL QAQC Button A" category="XS QAQC Toolbox" class="XSCLQAQCButtonA" id="CrossSectionQAQCTools_addin.button1" image="Images\dg1.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="XSCL QAQC Button B" category="XS QAQC Toolbox" class="XSCLQAQCButtonB" id="CrossSectionQAQCTools_addin.button2" image="Images\dg2.png" message="" tip=""><Help heading="" /></Button>
        <Button caption="XSCL QAQC Button C" category="XS QAQC Toolbox" class="XSCLQAQCButtonC" id="CrossSectionQAQCTools_addin.button3" image="Images\dg3.png" message="" tip=""><Help heading="" /></Button>
		<Button caption="XSCL QAQC Button D" category="XS QAQC Toolbox" class="XSCLQAQCButtonD" id="CrossSectionQAQCTools_addin.button4" image="Images\dg4.png" message="" tip=""><Help heading="" /></Button>
		<Button caption="XSCL QAQC Button E" category="XS QAQC Toolbox" class="XSCLQAQCButtonE" id="CrossSectionQAQCTools_addin.button5" image="Images\dg5.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="XS QAQC" category="XS QAQC Toolbox" id="CrossSectionQAQCTools_addin.toolbar" showInitially="true"><Items><Button refID="CrossSectionQAQCTools_addin.button1" /><Button refID="CrossSectionQAQCTools_addin.button2" /><Button refID="CrossSectionQAQCTools_addin.button3" /><Button refID="CrossSectionQAQCTools_addin.button4" /><Button refID="CrossSectionQAQCTools_addin.button5" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>